{
    "parserOptions": {
        "parser": "babel-eslint"
    },
    "extends": [
        "plugin:vue/essential", 
        "standard"   
    ],  
    "plugins": [
        "html",
        "vue"
    ]
  }
  